#stickyContainer{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#stickyContainer > div {
    height: 1000px;
}

#stickyContainer img {
    padding: 20px;
    filter: drop-shadow(16px 7px 8px #939393);
    margin-top: 200px;
    width: 650px;
    position: sticky;
    top: 100px;
}

#mainContainer > h1 {
    margin-top: 50px;
    font-size: 30pt;
    padding-bottom: 20px;
}

#mainContainer > section {
    margin-top: 50px;
    font-size: 16pt;
}

#mainContainer > section > p{
    padding-top: 30px;
}

#mainContainer{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}