#mainContainer{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

#mainContainer > img {
    padding: 20px;
    filter: drop-shadow(16px 7px 8px #939393);
    margin-top: 100px;
    width: 920px;
}

#mainContainer > h1 {
    margin-top: 50px;
    font-size: 30pt;
    padding-bottom: 20px;
}

#mainContainer > section {
    margin-top: 210px;
    font-size: 16pt;
}

.rotating-image {
    width: 100%;
    height: auto;
    transform-origin: center center; /* Define el punto de origen de la rotación */
    transition: transform 0.5s ease; /* Agrega una transición suave a la rotación */
  }