/*
    ----------------------------------------------------------------
        Home styles
    ----------------------------------------------------------------
*/
section {
    border-bottom: .5px solid rgb(198, 198, 198) ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: auto;
    text-align: center;
    width: 85%;
}

section h2{
    font-size: 25pt;
    margin-top: 50px;
    margin-bottom: 25px;
}

section div p {
    margin-bottom: 50px;
}

p {
    width: 100%;
    font-size: 16pt;
    text-align: justify;
    margin-bottom: 30px;
}



/*
    ----------------------------------------------------------------
        Intro Section
    ----------------------------------------------------------------
*/
#introSection > h1 {
    font-size: 30pt;
    margin-top:50px;
    margin-bottom: 25px;
}

#introSection > div > p {
    margin-top: 25px;
    margin-bottom: 50px;
}



/*
    ----------------------------------------------------------------
        La Ela Section
    ----------------------------------------------------------------
*/
#laEla div > p:first-child{text-align: center;}

#laEla #elaDay {
	width: 800px;
    filter: drop-shadow(16px 7px 8px #939393);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	margin-bottom: 50px;
}

#imageContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
}

#imageContainer p{
    margin-left: 50px;
    margin-top: 5%;
}