/*
    ----------------------------------------------------------------
        Intro Section
    ----------------------------------------------------------------
*/
#intro-container, #ela-symptoms, #video-container, #ela-origin, #ela-investigation, #ela-treatment, #ela-therapy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: auto;
    text-align: center;
    width: 85%;
}

#intro-container h1{
    font-size: 30pt;
    margin-top:50px;
    margin-bottom: 25px;
}

#intro-container, #ela-symptoms, #ela-origin{border-bottom: .5px solid rgb(198, 198, 198);}

#intro-container > p, #ela-origin > p , #ela-investigation p, #ela-treatment p, #ela-treatment p, #ela-therapy p{
    width: 100%;
    font-size: 16pt;
    text-align: justify;
    margin-bottom: 30px;
}

/*
    ----------------------------------------------------------------
        La Ela Symptoms
    ----------------------------------------------------------------
*/
#ela-symptoms h2, #ela-origin h2, #ela-treatment h2, #ela-therapy h2{
    font-size: 22pt;
    margin-top: 50px;
    margin-bottom: 25px;
}

#video-container{
    margin-top: 25px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
    margin-bottom: 25px;
}

#video-container iframe{
    width: 47%;
    height: 400px;
    border-radius: 5px;
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
}

#video-container p{
    width: 49%;
}

/*
    ----------------------------------------------------------------
        La Ela List
    ----------------------------------------------------------------
*/
.ela-list{
    list-style: circle;
    width: 100%;
}

.ela-list > li{
    margin-left: 70px;
}

/*
    ----------------------------------------------------------------
        La Ela Treatment
    ----------------------------------------------------------------
*/