@font-face {
    font-family: Poppins;
    src: url(assets/media/font/Poppins-Regular.ttf);
}

.elaGreen {
    color: var(--elaGreen);
}

:root {
    --elaGreen: #95b863;
}

* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    padding: 0;
    text-decoration: none;
    font-family: Poppins;
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(20px); /* O cualquier otra transformación que desees */
    transition: opacity 0.5s, transform 0.5s;
}  

.animate-on-scroll.animated {
    opacity: 1;
    transform: translateY(0); /* Restablece la transformación inicial */
}