@font-face {
    font-family: Poppins;
    src: url(assets/media/font/Poppins-Regular.ttf);
}

:root {
    --elaGreen: #68B54C;
}

* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    padding: 0;
    text-decoration: none;
    font-family: Poppins;
}

.elaGreen {
    color: var(--elaGreen);
}